<h4>Hello <%= current_client.first_name %>!</h4>

<% if !@appointment.nil? %>

  <h5>Here is your most recently edited appointment:</h5>

  <dl class="apptIndexContents">
    
    <dt>When:</dt>
    <dd><%= @appointment.appt_date_time.strftime("%a. %b. %d %Y at %l:%M %p") %></dd>
    <dt>Stylist:</dt>
    <dd><%= @appointment.stylist.first_name %></dd>
    <dt>Services:</dt>
    <ul class="list-inline"> <% @appointment.offerings.each do |off| %>
      <li> <%= off.name %> </li>
      <% end %>
    </ul>

  </dl>

  <h4>From here you can:</h4>
    <%= button_to "Edit Appointment", edit_client_appointment_path(current_client.id, @appointment.id) , method: 'get', class: "btn btn-primary btn-lg btn-block" %>
    <%= button_to "Canecl Appointment", "/clients/#{current_client.id}/appointments/#{@appointment.id}", method: 'delete', class: "btn btn-lg btn-danger btn-block" %>

<% else %>

  <h4>Welcome to Hair Etc!  Make Your First Appointment Today!</h4>

  <%= button_to "New Appoitment", new_client_appointment_path(current_client.id), method: 'get', class: 'btn btn-success btn-block' %>

<% end %>