<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <table>
      <tr>
        <th colspan="2">Customer Contact</th>
      </tr>
      <tr>
        <td>Customer Name:</td>
        <td><%= @body[:guest_name] %></td>
      </tr>
      <tr>
        <td>Customer Email:</td>
        <td>
          <a href="mailto:#{<%= @body[:guest_email] %>}" target="_blank"><%= @body[:guest_email] %></a>
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= @body[:request_date] %></td>
      </tr>
      <tr>
        <td colspan="2">Contact Subject</td>
      </tr>
      <tr>
        <td colspan="2"><%= @subject %></td>
      </tr>
      <tr>
        <td colspan="2">Message:</td>
      </tr>
      <tr>
        <td colspan="2"><%= @body[:guest_message] %></td>
      </tr>
    </table>

  </body>

</html>
