<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <table>
      <tr>
        <th colspan="2"><h3>Customer Contact</h3></th>
      </tr>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @body[:guest_name] %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>
          <a href="mailto:<%= @body[:guest_email] %>" target="_blank"><%= @body[:guest_email] %></a>
        </td>
      </tr>
      <tr>
        <td><strong>Date:</strong></td>
        <td><%= @body[:request_date] %></td>
      </tr>
      <tr>
        <td colspan="2"><strong>Subject:</strong></td>
      </tr>
      <tr>
        <td colspan="2"><%= @body[:guest_message_subject] %></td>
      </tr>
      <tr>
        <td colspan="2"><strong>Message:</strong></td>
      </tr>
      <tr>
        <td colspan="2"><%= @body[:guest_message] %></td>
      </tr>
    </table>

  </body>

</html>
