<div class="signInForm">

  <h2 class="text-center">Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="inputSignIn">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
    </div>

    <div class="inputSignIn">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="inputSignIn">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="inputSignIn">
      <%= f.submit "Sign in", class: "btn btn-block btn-success" %>
    </div>

  <% end %>

  <div class="inputSignIn">
    <%= button_to "Forgot Password", new_password_path(resource_name), class: 'btn btn-block btn-primary' %>
  </div>

</div> <!-- signInForm -->