<h1 class="text-center"><%= current_client.first_name %> <%= current_client.last_name %>'s Appointments</h1>

<%= link_to "New Appointment", new_client_appointment_path(current_client.id) %>

<% @appointments.each do |app| %>

<div class="appt_index">
  <dl>
    <dt>When:</dt>
    <dd><%= app.appt_date_time %></dd>
    <dt>Stylist:</dt>
    <dd><%= app.stylist.first_name %></dd>
    <dt>Services:</dt>
    <ul class="list-inline"> <% app.offerings.each do |off| %>
      <li> <%= off.name %> </li>
      <% end %>
    </ul>

  <div class="buttons">
    <%= button_to "Edit", edit_client_appointment_path(current_client.id, app.id) , method: 'get', class: "btn btn-primary btn-lg btn-block" %>
    <%= button_to "Delete", "/clients/#{current_client.id}/appointments/#{app.id}", method: 'delete', class: "btn btn-lg btn-danger btn-block" %>
  </div>

</div>  <!-- End of repeated div -->


<% end %>




