<!DOCTYPE html>
<html>
<head>
  <title>HairEtcApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true" />

  <!-- Icon -->
  <link rel="icon" href="assets/images/logo.png" type="image/png">
  
</head>
<body>

  <%= render 'layouts/navigation' %>

  <div class="container-fluid" id="mainPage">
  
    <%= yield %>

  </div>

</body>

</html>
